* {
    pointer-events: auto;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    overflow: hidden;
}




/* Landing page styling */
.main-container{
    display: flex;
    align-items: stretch;
    flex-basis: auto;
    box-sizing: border-box;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    z-index: 0;
}

.right-div img{
    max-width: 55vw;
    height: 100vh;
    object-fit: fit;
    z-index: 0;
}

.left-div{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-top: 3%;
}
 
.landing-content {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    padding: 0;
    z-index: 0;
}

.landing-content h1{
    font-size: 64px;
    font-weight: 900;
    text-transform: capitalize;
}

.landing-content h2{
    font-size: 32px;
    font-weight: 900;
}

.app-download-links{
    display: flex;
    flex-direction: row;
}

.app-download{
    border-radius: 25px;
    padding-right: 10px;
    width: 10vw;
}

.bottom-content h3{
    font-weight: 700;
}

.line {
    position: relative;
    text-align: center;
    width: 200px;
    margin-bottom: 1%;
    margin-left: 55px;
}
.line:after {
    content: "";
    border-bottom: 1px solid #aeaeae;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -1;
}
.line span {
    padding: 0 8px;
    background-color: white;
    position: relative;
}

.a-link{
    text-decoration: none;
    color: rgb(48, 159, 241);
}

#condition{
    font-size: 13px;
    width: 350px;
    color: #7e7e7e;
}

/*popups design*/
.popups{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.box {
    display: flex;
    width: 50%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 25px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 70px auto;
    padding: 40px;
    background: #fff;
    border-radius: 5px;
    width: 35%;
    height: 70vh;
    overflow-y: auto;
    position: relative;
    transition: all 5s ease-in-out;
}
.popup h2 {
    margin-top: 10px;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 36px;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: rgb(48, 159, 241);
}
.popup .content {
    display: flex;
    flex-direction: column;
    max-height: auto;
    overflow: auto;
}
.pad{
    padding: 5px !important;
}
.centerized{
    align-self: center;
    margin-top: 0%;
}
form {
    display: flex;
    flex-direction: column;
}
form > input {
    width: 200px;
}
form > input {
    font-size: 16px;
    color: #2d3e50;
    margin: 2vh;
    padding: 2vh;
    width: 80%;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: 0.5s;
    outline: none;
}

form > input:focus{
    border: 2px solid rgb(48, 159, 241);
}

.small-p{
    font-size: 15px;
    font-weight: lighter;
    color: #7e7e7e;
}



/* utilities */

button:active{
    transform: scale(0.80);
}

button:focus{
    outline: none;
}
button::first-letter{
    text-transform: capitalize;
}

h2::first-letter{
    text-transform: capitalize;
}
h3::first-letter{
    text-transform: capitalize;
}
h5::first-letter{
    text-transform: capitalize;
}

.btn{
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 750;
    font-size: 15px;
    flex-grow: 1;
    line-height: 20px;
    cursor: pointer;
    border: transparent;
    border-radius: 50px;
    background-color: rgb(29, 155, 240);
    outline: rgb(3, 108, 219) solid 1px !important;
    width : 20vw;
    padding: 2%;
}

.btn-white{
    background-color: white;
    color:rgb(29, 155, 240);
    outline: rgb(205, 206, 207) solid 1px !important;
}

.black-btn{
    background-color: black;
    color:rgb(255, 255, 255);
    outline: rgb(205, 206, 207) solid 1px !important;
    margin: 10px;
    align-self: center;
}

.popup-btn{
    width: 15vw;
    height: 40px;
}


#logo-div{
    width: 45px;
    margin-bottom: 2%;
}

.logo-img{
    width: 45px;
    margin-bottom: 2%;
    margin-top: 0;
}



/* media queries */
/*@media screen and (max-width: 600px) {
    .container {flex-wrap: wrap;flex-direction: column;}
    .btns{font-size: small;}
    #dog-img{width:20vw;}
    .text-style{font-size: smaller;}
    #output-div{margin-left: 20vw;}
    #output{font-size: smaller;}
    .popups{flex-direction: column;}
    .box{width: 50%;}
    .popup{width: 50%;}
  
  }
  
  @media screen and (max-width: 700px){
      .box{
        width: 70%;
      }
      .popup{
        width: 70%;
      }
    }