/* Css reset */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: #000;
}
/* Nav bar */
nav{
    background: #1D9BF0;
    height: 80px;
    width: 100%;
}
label > i{
    margin-right:25px;
    margin-top: 15px;
}
label.logo{
    color: white;
    font-size: 25px;
    line-height: 80px;
    padding: 20px 100px;
    font-weight: bold;
    cursor: pointer;
}
nav ul{
    float: right;
    margin-right: 80px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
}
.tweet{
    color: #fff;
    background-color: #1D9BF0;
    border-radius: 100px;
}
.tweet:hover {
    transition: 0.3;
    color: #1D9BF0;
    background-color: #fff;
}
ul a:hover{
    color: rgb(45, 62, 80);
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/* Header */
.header-section{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}
.header-profile{
    display: flex;
    justify-content: space-evenly;
    width: 35%;
}
.header-image{
    width: 20%;
    border-radius: 50%;
}
.header-image > a> img {
    width: 100%;
    vertical-align: middle;
}
.header-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 35%;
}
.header-name > a>  p:first-child{
    font-size: 20px;
}
.header-name > p:last-child{
    font-size: 16px;
    color: #5b6265;
}
.header-option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.search{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    width: 60%;
    height: 60px;
    background: #EFF3F4;
    border-radius: 100px;
    padding-left: 3%;
    margin-top: 5px;
}
.search > div {
    display: flex;
    justify-content: start;
} 
.search i{
    padding-bottom: 1px;
    color: #1D9BF0;
    font-size: 18px;
}
#search-btn{
    border: none;
    cursor: pointer;
}
.search input{
    outline: none;
    border: none;
    background-color: #EFF3F4;
    padding-left: 5%;
    padding-right: 1%;
    width: 90%;
    font-size: 20px;
}
.search input::placeholder{
    font-size: 18px;
}
/* Profile */
.profile-images{
    width: 100%;
}
.profile-cover{
    width: 100%;
    min-height: 250px;
    background: gray;
    object-fit: cover;
    z-index: -100;
    border-radius: 5px;
}
.profile-picture{
    border-radius: 50%;
    width: 15%;
    margin-top: -75px;
    margin-left: 30px;
}
.profile-picture > img{
    width: 100%;
    border-radius: 50%;
}
.edit-profile{
    display: flex;
    justify-content: end;
    margin-right: 40px;
    margin-top: -80px;
}
.edit-profile > a > button{
    font-size: 20px;
    padding: 3px 15px;
    border-radius: 100px;
    border: 1px solid #A6A6A6;
    background: transparent;
    cursor: pointer;
}
/* Information */
.profile-information{
    margin-top: 100px;
}
.profile-information > p:first-child{
    font-size: 20px;
    font-weight: bold;
}
.profile-information > p:last-child{
    font-size: 16px;
    color: #5b6265;
    margin-left: 3px;
    
}
.profile-date{
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
}
.profile-date > div{
    width: 2%;
    margin-top:-3px;
    margin-right: 5px;
}
.profile-date > div > img{
    width: 100%;
}
.profile-date p{
    color: #536471;
    margin-left: 5px;
}
.profile-date i{
    font-size: 25px;
    margin-left: 15px;
    margin-right: 5px;
    /* margin-top: -10px; */
}
.profile-follower{
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
}
.profile-follower p{
    color: #536471;
    font-size: 18px;
    margin-left: 10px;
}
.profile-follower > div > p{
    color: #000;
    font-size: 20px;
    margin-top: -3px;
}
/* Tweets */
.tweets-heading{
    margin-top: 70px;
    margin-bottom: 5px;
}
.tweets-heading > h2{
    text-align: center;
}
.tweets-section{
    border: 1px solid #A6A6A6;
    margin-left: 30px;
    margin-bottom: 50px;
    height: 100%;
} 
.tweets{
    margin-top: 20px;
    width: 100%;
    display: flex;
}
.tweets-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 25px;
    margin-right: 25px;
}
.tweets-header{
    display: flex;
    font-size: 20px; 
}
.tweets-header-username{
    margin-top: 5px;
    margin-left: 20px;
    font-size: 14px;
}
.tweets-option{
    width: 100%;
    display: flex;
    justify-content: end;
    cursor: pointer;
}
.tweets-header-image{
    width: 7%;
    height: 7%;
    border-radius: 50%;
    margin-left: 15px;
}
.tweets-header-image > img{
    width: 100%;
    border-radius: 50%;
}
.tweets-information{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 40%;
    font-size: 20px;
}
.tweets-image{
    width:80%;
    height: 30%;
    font-size: 20px;
}
.tweets-like{
    display: flex;
    justify-content: end;
    margin-right: 40px;
}
.tweets-like > button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.tweets-like i{
    color: #000;
}
.tweets-like p{
    margin-left: 10px;
    font-size: 18px;
}
/* Popups */
    /* Tweet */
.tweet-section{
    border: 1px solid #A6A6A6;
    display: flex;
    justify-content: start;
    margin-left: 30px;
}
.section-1{
    width: 10%;
    padding-left: 20px;
}
.section-1 > div {
    width: 70%;
    margin-top: 20px;
    border-radius: 50%;
}
.section-1 img {
    width: 100%;
}
.section-2{
    width:85%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-2 > input{
    display: flex;
    width: 100%;
    height: 100px;
    outline: none;
    border: none;
    font-size: 28px;
    padding-top: 20px;
}
.section-2 > input::placeholder{
    font-size: 28px;
}
.section-3 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.section-3 > label > i{
    color: #1D9BF0;
    display: flex;
    align-items: center;
}
.section-3> label > .fa{
    font-size: 24px;
}
.section-3 > button{
    width: 100px;
    height: 50px;
    background: #1D9BF0;
    border-radius: 100px;
    border: none;
    color: #FFF;
    font-size: 20px;
}
.section-3 > button:hover{
    opacity: 0.8;
    transition: 0.3;
}
#new-image{
    display: none;
}
.popups{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.box {
    display: flex;
    width: 50%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 25px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 70px auto;
    padding: 40px;
    background: #fff;
    border-radius: 5px;
    width: 70%;
    height: 70vh;
    overflow-y: auto;
    position: relative;
    transition: all 5s ease-in-out;
}
.popup h2 {
    margin-top: 10px;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 36px;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: rgb(48, 159, 241);
}
.popup .content {
    display: flex;
    flex-direction: column;
    max-height: auto;
    overflow: auto;
}
.pad{
    padding: 5px !important;
}

.tweet-section-editted{
    width: 100%;
    height: 80%;
    margin: 0 !important;
    padding: 20px;
    border-radius: 10px;
}
.section-3-editted{
    margin-bottom: 0px !important;
    margin-top: 50px;
}
.section-1-editted {
    margin-right: 50px !important;
}
.content-editted{
    width: 100%;
}
.tweetcontent{
    width: 80%;
    height: 40%;
    font-size: 20px;
    text-align:start  !important;
    text-justify: auto;
    border: none;
    outline: none;
    
}
.popup-editted{
    width: 25%;
    height: 25%;
    overflow: hidden;
}
.option-btn{
    width: 200px;
    height: 50px;
    margin: 10px;
    background: #1D9BF0;
    border-radius: 100px;
    border: none;
    color: #FFF;
    font-size: 20px;
    cursor: pointer;
}
.option-btn:hover{
    opacity: 0.8;
    transition: 0.5s;
}
.popup-editted2{
    width: 30%;
    height: 30%;
    overflow: hidden;
}
.header-profile-editted{
    width: 80%;
}
    /* Edit profile pop-up */
.overlay1 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay1:target {
    visibility: visible;
    opacity: 1;
}
.popup1 {
    display: flex;
    flex-direction: column;
    margin: 70px auto;
    padding: 40px;
    background: #fff;
    border-radius: 5px;
    width: 70%;
    height: 100%;
    position: relative;
    transition: all 5s ease-in-out;
}
.popup1 .close1 {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup1 .close1:hover {
    color: rgb(48, 159, 241);
}
.popup1 .content1 {
    margin-top: 50px;
}
.scroll{
    height: 90%;
    overflow: auto;
}
.popup-editted1{
    width: 40%;
    height: 100%;
} 
.profile-images{
    width: 100%;
}
.profile-cover{
    width: 100%;
    min-height: 250px;
    background: gray;
    object-fit: cover;
    z-index: -100;
    border-radius: 5px;
    display: flex;
    justify-content: end;
}
.profile-cover > input{
    display: none;
}
.profile-cover > label > i{
    color: #fff;
}
.profile-picture{
    border-radius: 50%;
    width: 15%;
    margin-top: -75px;
    margin-left: 30px;
}
.profile-picture > label > img{
    width: 100%;
    border-radius: 50%;
}
.profile-picture > input{
    display: none;
}
.edit-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
}
.edit-name, .edit-date{
    margin-top: 25px;
}
.edit-name > input, .edit-date > input {
    font-size: 14px;
    width: 97%;
    height: 30px;
    padding-left: 9px;
  }
  
.name-label, .date-label {
    /* position: absolute; */
    pointer-events: none;
    font-weight: bold;
}
.save{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.save > button{
    width: 70px;
    height: 30px;
    border-radius: 50px;
    border: none;
    color: #fff;
    background-color: #1D9BF0;
}
/* Utilities */
.container{
    padding-left:20%;
    padding-right:20%;
}
.main-container{
    padding-left:8%;
    padding-right:8%;
}
    /* Tweet popup */
.box {
    display: flex;
    width: 50%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 25px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}
.pad{
    padding: 5px !important;
}

.tweet-section-editted{
    width: 100%;
    height: 80%;
    margin: 0 !important;
    padding: 20px;
    border-radius: 10px;
}
.section-3-editted{
    margin-bottom: 0px !important;
    margin-top: 50px;
}
.section-1-editted {
    margin-right: 50px !important;
}
.content-editted{
    width: 100%;
}
.tweetcontent{
    width: 80%;
    height: 40%;
    font-size: 20px;
    text-align:start  !important;
    text-justify: auto;
    border: none;
    outline: none;
    
}
/*  */
.header-profile-editted{
    width: 80%;
}
.option-btn{
    width: 200px;
    height: 50px;
    margin: 10px;
    background: #1D9BF0;
    border-radius: 100px;
    border: none;
    color: #FFF;
    font-size: 20px;
    cursor: pointer;
}
.option-btn:hover{
    opacity: 0.8;
    transition: 0.5s;
}
.popup-editted2{
    width: 30%;
    height: 30%;
    overflow: hidden;
}
.header-profile-editted{
    width: 80%;
}
/*media query*/
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;}
    nav ul li a{
        font-size: 16px;
    }
    .search{
        margin-top: 15px;
        width: 70%;
        height: 50px;
    }
    .search input::placeholder{
        font-size: 15px;
    }
    .edit-profile{
        margin-top:-30px;
    }
    .edit-profile > button{
        font-size: 15px;
    }
    .profile-date > div{
        width: 3%;
    }
    .profile-date i{
        font-size: 25px;
        margin-top: -5px;
    }
    .tweets-header-image{
        width: 12%;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 50vh;
        background: #1D9BF0;
        top: -80%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;

    }
    #check:checked ~ ul{
        top: 80px;
    }
    .search{
        margin-top: 15px;
    }
    .search input::placeholder{
        font-size: 15px;
    }
    .edit-profile{
        margin-top:-20px;
    }
    .edit-profile > button{
        font-size: 15px;
    }
    .tweets-header-image{
        width: 12%;
    }
}
@media (max-width: 500px){
    .container{
        padding-left:70px;
        padding-right:70px;
    }
    label.logo{
        font-size: 25px;
        /* padding: 0 10px; */
    }
    ul{
        height: 37vh;
    }
    nav ul li a{
        font-size: 18px;

    }
    nav ul li{
        margin: 30px 0;
    }
    .header-section{
        display: flex;
        flex-direction: column;
    }
    .search{
        width: 100%;
        height: 50px;
    }
    .profile-cover{
        min-height: 150px;
    }
    .profile-picture{
        position: absolute;
        border-radius: 50%;
        width: 20%;
        margin-top: -65px;
    }
    .edit-profile{
        margin-top:10px;
        margin-left: 5px;
    }
    .edit-profile > button{
        font-size: 15px;
    }
    .profile-date > div{
        width: 4%;
    }
    .profile-information{
        margin-top: 50px;
    }
    .tweets-header{
        font-size: 16px;
    }
    .tweets-header-username{
        font-size: 12px;
        margin-top: 2px;
    }
    .tweets-information{
        font-size: 16px;
    }
    .tweets-image{
        font-size: 16px;
    }
    .tweets-header-image{
        width: 20%;
    }
    .tweets-content{
        margin-left: 15px;
    }
    .tweets-like{
        margin-right:-24px;
    }
    .tweets-like p{
        font-size: 12px;
    }
}