* {
    pointer-events: auto;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}




/* Landing page styling */
.main-container{
    display: flex;
    align-items: stretch;
    flex-basis: auto;
    box-sizing: border-box;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
}

.right-div img{
    max-width: 55vw;
    height: 100vh;
    position: relative;
    object-fit: fit;
}

.left-div{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-top: 3%;
}
 
.landing-content {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    padding: 0;;
}

.landing-content h1{
    font-size: 64px;
    font-weight: 900;
}

.landing-content h2{
    font-size: 32px;
    font-weight: 900;
}

.app-download-links{
    display: flex;
    flex-direction: row;
}

.app-download{
    border-radius: 25px;
    padding-right: 10px;
    width: 10vw;
}

.bottom-content h3{
    font-weight: 700;
}

.line {
    position: relative;
    text-align: center;
    width: 200px;
    margin-bottom: 1%;
    margin-left: 55px;
}
.line:after {
    content: "";
    border-bottom: 1px solid #aeaeae;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -1;
}
.line span {
    padding: 0 8px;
    background-color: white;
    position: relative;
}
.a-link{
    text-decoration: none;
    color: rgb(48, 159, 241);
}

#condition{
    font-size: 13px;
    width: 350px;
    color: #7e7e7e;
}

/* utilities */
.justify-content{
    justify-content: center;
}

.text-capitalized{
    text-transform: capitalize;
}


.btn{
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 750;
    font-size: 15px;
    flex-grow: 1;
    line-height: 20px;
    cursor: pointer;
    border: transparent;
    border-radius: 50px;
    background-color: rgb(29, 155, 240);
    outline: rgb(3, 108, 219) solid 1px !important;
    width : 20vw;
    padding: 2%;
}

.btn-white{
    background-color: white;
    color:rgb(29, 155, 240);
    outline: rgb(205, 206, 207) solid 1px !important;
}


#logo-div{
    width: 45px;
    margin-bottom: 2%;
}