* {
    pointer-events: auto;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}




/* Landing page styling */
.main-container{
    display: flex;
    align-items: stretch;
    flex-basis: auto;
    box-sizing: border-box;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
}

.right-div img{
    max-width: 55vw;
    height: 100vh;
    position: relative;
    object-fit: fit;
}

.left-div{
    margin-left: 3%;
    margin-top: 3%;
}
 





/* utilities */
.justify-content{
    justify-content: center;
}

.text-capitalized{
    text-transform: capitalize;
}


.btn{
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 750;
    font-size: 15px;
    flex-grow: 1;
    line-height: 20px;
    cursor: pointer;
    border: transparent;
    border-radius: 50px;
    background-color: rgb(29, 155, 240);
    outline: rgb(3, 108, 219) solid 1px !important;
    width : 20vw;
    padding: 2%;
}



#logo-div{
    width: 45px;
    margin-bottom: 2%;
}