* {
    pointer-events: auto;
}




/* Landing page styling */
.main-container{
    display: flex;
    align-items: stretch;
    flex-basis: auto;
    box-sizing: border-box;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
}

.right-div img{
    max-width: 50vw;
    height: 100vh;
    position: relative;
    object-fit: fit;
}